*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e1ebd9;
    /* font-family: 'Poppins'; */
}

p{
  font-size: 35px;
  text-align: center;
  padding-top: 50px;
  font-weight: bold;

}
span.green{
 color: #48A300;
}
span.brown{
    color: #61481C;
}
.container{
    background-color: white;
    height: 480px;
    width: 350px;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
}
#container-paragraph{
    font-size: 20px;
    position: absolute;
    padding-top: 15px;
    padding-left: 20px;

}
img{
    height: 30px;
    width: 30px;
    vertical-align: middle;
   
}
#p-3{
    font-size: 10px;
    color: grey;
    padding-right: 130px;
    padding-top: 60px;
}
#p-4{
    font-size: 10px;
    color: rgb(251, 43, 43);
    padding-right: 175px;
    padding-top: 10px;
}
.progress-bar{
    background-color:#e1ebd9 ;
    height: 15px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}
.progress{
    width: 0;
    height: 15px;
    border-radius: 10px;

}
input{
    height: 50px;
    padding-top: 10px;
    margin-top: 15px;
    margin-left: 30px;
    width: 300px;
    border-radius: 10px;
     border-color: gray;
}
#p-5{
    font-size: 14px;
    text-align: center;
}
#p-6{
    font-size: 10px;
    text-align: center;
    color: grey;
}
.goal-item{
    position: relative;
}
.goal-item input[type='text']{
    /* width: 100%; */
    padding-right: 15px;
    padding-left: 32px;
   /* border: 20px grey; */
    
}
.circle-check{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid grey ;
    cursor: pointer;
}
.circle-check:checked{
     content: '✓';
     color: white;
     background-color: #48A300;
     border-color: #878581;
     display: flex;
     align-items: center;
     justify-content: center;
}